<!doctype html>
<html>
    <head>
        <title>About Page</title>
    </head>
    <link rel="stylesheet"  href="/css/style.css">
    <body>
        {{>header}}
        <img class ="portrait" src="https://2j9zen46cyp13k47i01s551m-wpengine.netdna-ssl.com/wp-content/uploads/2017/08/website-setup.png">
        <p><em>{{location}}</em></p>
        {{>footer}}
    </body>
</html>