<!doctype html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet"  href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <h6>{{location}}</h6>
        {{>footer}}
    </body>

</html>